.logo {
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}

.dli-list {
    display: inline-block;
    vertical-align: middle;
    color: white;
    line-height: 1;
    width: 0.8em;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  
  .dli-list > span {
    display: block;
    position: relative;
    height: 0.1em;
    background: currentColor;
    border-radius: 0.1em;
  }
  
  .dli-list > span::before {
    content: '';
    position: absolute;
    top: 0;
    right: calc(100% + 0.1em);
    bottom: 0;
    margin: auto;
    width: 0.1em;
    height: 0.1em;
    background: currentColor;
    border-radius: 50%;
  }
  
  .dli-list > span + span {
    margin-top: 0.22em;
  }

.dli-user-fill {
    display: inline-block;
    vertical-align: middle;
    color: white;
    line-height: 1;
  }
  
  .dli-user-fill::before, .dli-user-fill::after {
    content: '';
    display: block;
    margin: 0 auto;
    background: currentColor;
    box-sizing: border-box;
  }
  
  .dli-user-fill::before {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    margin-bottom: 0.05em;
  }
  
  .dli-user-fill::after {
    width: 1em;
    height: 0.4em;
    border-bottom: 0;
    border-radius: 50% / 100% 100% 0 0;
  }

  .dli-home {
    display: inline-block;
    vertical-align: middle;
    color: white;
    line-height: 1;
    position: relative;
    width: 1em;
    height: 0.75em;
    border: 0.1em solid currentColor;
    border-top: 0;
    box-sizing: border-box;
    margin-top: 3px;
  }
  
  .dli-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0.70711em;
    height: 0.70711em;
    border: 0.1em solid currentColor;
    border-right: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translate(-50%, -46%) rotate(45deg) skew(-10deg, -10deg);
  }
  
  .dli-home::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.1em;
    width: 45%;
    height: 75%;
    background: #fff;
    border: 0.1em solid currentColor;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateX(-50%);
  }