{% extends 'layout.html' %}

{% block header %}
{% endblock header %}

{% block content %}

<div class="container">
    <aside class="profile">
        <h2>プロフィール</h2>
        {% if "default-profile.png" in user.profile_img %}
            <img src="static/images/default-profile.png" alt="プロフィール画像" class="home-profile-image">
        {% else %}
            <img src="{{ url_for('static', filename=user.profile_img) }}" alt="プロフィール画像" class="home-profile-image">
        {% endif %}
        <p><strong>ユーザー名:</strong> {{ user.user_name }}</p>
        <p><strong>メール:</strong> {{ user.email }}</p>
        <p><strong>自己紹介:</strong></p>
        <p>趣味はプログラミングと旅行です。</p>
    </aside>

    {% if user == current_user %}
    <aside class="form-aside">
        <h1>投稿フォーム</h1>
        <form action="/add" method="post" class="post-form">
            <div class="form-group">
                <label for="title">タイトル：</label>
                <input type="text" id="title" name="title" class="textbox">
            </div>
            <div class="form-group">
                <label for="name">ユーザー名：</label>
                <input type="text" id="name" name="name" class="textbox">
            </div>
            <div class="form-group">
                <label for="date">日時：</label>
                <input type="text" id="date" name="date" class="textbox">
            </div>
            <div class="form-group">
                <label for="place">場所：</label>
                <input type="text" id="place" name="place" class="textbox">
            </div>
            <div class="form-group">
                <label for="place">詳細：</label>
                <textarea name="body" class="textarea"></textarea><br>
            </div>
            <input type="submit" value="保存" class="btn-submit">
        </form>
    </aside>
    {% endif %}
</div>

<h1>タスク一覧</h1>
{% for task in task_lists %}
<div>
    <h2>
        <form action="{{ url_for('task_delete', id=task.id) }}" method="POST">  
            <input class="checkbox" type="submit" value="✓">
            {{task.title}}
        </form>
    </h2>
    <ul class="list-ul">
        <li class="list-li">ユーザー： {{task.name}}</li>
        <li class="list-li">日時： {{task.date}}</li>
        <li class="list-li">場所： {{task.place}}</li>
        <li class="list-li">詳細： {{task.body}}</li>
    </ul>
</div>
{% endfor %}

{% endblock  %}