<!DOCTYPE html>
<html lang="ja">
<link rel="stylesheet" href="../static/custom.css">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock  %}</title>
</head>

<body>
    <nav>
        <p class="app-name">
            Share Task
        </p>
        <ul>
            <li>Lists  <span class="dli-list"><span></span><span></span><span></span></span></li>
            <li>Home  <span class="dli-home"></span></li>
            <li>User  <span class="dli-user-fill"></span></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock  %}
    </div>
    <div class="footer">
        {% block footer %}{% endblock  %}
    </div>
</body>

</html>
