{% extends 'layout.html' %}

{% block title %}
Lists
{% endblock %}

{% block content %}
<div>
    <h1>全タスク一覧</h1>
    {% for task in task_lists %}
    <div>
        <h2>
            {{task.title}}
        </h2>
        <ul class="list-ul">
            <li class="list-li">ユーザー： {{task.name}}</li>
            <li class="list-li">日時： {{task.date}}</li>
            <li class="list-li">場所： {{task.place}}</li>
            <li class="list-li">詳細： {{task.body}}</li>
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock  %}