{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<h1>Register</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}


<form action="/register" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.user_name.label }}<br>
    {{ form.user_name(size=32) }}<br>
  </p>
  <p>
    {{ form.email.label }}<br>
    {{ form.email(size=64) }}<br>
  </p>
  <p>
    {{ form.password.label }}<br>
    {{ form.password(size=32) }}<br>
  </p>
  <p>
    {{ form.conform_password.label }}<br>
    {{ form.conform_password(size=32) }}<br>
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}
