{% extends 'layout.html' %}

{% block title %}
register
{% endblock %}

{% block header %}
<h1>投稿フォーム</h1>
{% endblock header %}

{% block content %}
<form action="/add" method="post">
    タイトル： <input type="text" name="title" placeholder="title"><br>
    ユーザー名： <input type="text" name="name" placeholder="name"><br>
    日時： <input type="text" name="date" placeholder="date"><br>
    場所： <input type="text" name="place" placeholder="place"><br>
    詳細： <textarea name="body" placeholder="body"></textarea><br>
    <input type="submit" value="Add">
</form>
{% endblock  %}